.announcement .announcement_blue {
  height: 401px;
  background-color: #135ec5;
  padding-top: 140px;
}

.announcement .announcement_blue h1 {
  margin-top: 4px;
  font: 60px/64px Myriad Pro Regular, Regular;
  color: #fff;
  margin-left: 541px;
}

.announcement .btn_announcement_blue {
  font: 19px/19px Myriad Pro Regular, Regular;
  width: 146px;
  height: 51px;
  margin-top: 68px;
  margin-left: 883px;
  background-color: #135ec5;
  border-radius: 32px;
  border-style: solid;
  border-width: 2px;
  border-color: #fff;
  padding: 0px 0px 0px 63px;
}

.announcement .btn_announcement_blue .p_1 {
  color: #fff;
}

.announcement .img_announcement {
  margin-left: 651px;
  margin-top: 69px;
  margin-bottom: -101px;
}

.announcement .announcement_white {
  background-color: #fff;
}

.announcement .mercedes_dark {
  float: left;
  margin-left: 117px;
  margin-top: 270px;
  height: 633px;
  background-image: url(../../../images/png/mersedes_dark2.png);
  background-repeat: no-repeat;
  padding-top: 93px;
  width: 555px;
}

.announcement .btn_fresh {
  font: 14px/2px Myriad Pro Regular, Regular;
  width: 67px;
  height: 26px;
  margin-left: 408px;
  background-color: #fff;
  border-radius: 32px;
  padding: 1px 0px 1px 18px;
}

.announcement .btn_fresh .p_2 {
  color: #135ec5;
}

.announcement .mercedes_dark .price {
  font: 31px/34px Myriad Pro Regular, Regular;
  margin-left: 115px;
  margin-top: 430px;
  color: #16ad2c;
  width: 222px;
}

.announcement .mercedes_dark .btn_more_info {
  font: 18px/17px Myriad Pro Regular, Regular;
  width: 150px;
  height: 48px;
  margin-left: 276px;
  background-color: #e2e2e2;
  border-radius: 32px;
  margin-top: -74px;
  padding: 1px 0px 1px 40px;
}

.announcement .mercedes_dark .btn_more_info .p_4 {
  color: #fff;
}

.announcement .mercedes_light {
  float: left;
  margin-left: 110px;
  margin-top: 194px;
  height: 698px;
  background-image: url(../../../images/png/mersedes_light2.png);
  background-repeat: no-repeat;
  padding-top: 93px;
  width: 1095px;
}

.announcement .price_mercedes_light {
  font: 31px/34px Myriad Pro Regular, Regular;
  margin-left: 412px;
  margin-top: 34px;
  color: #16ad2c;
  width: 222px;
}

.announcement .btn_fresh_mercedes_light {
  float: right;
  font: 14px/2px Myriad Pro Regular, Regular;
  width: 67px;
  height: 26px;
  margin-right: 112px;
  margin-top: -68px;
  background-color: #fff;
  border-radius: 32px;
  padding: 1px 0px 1px 18px;
}

.announcement .btn_fresh_mercedes_light .p_5 {
  color: #306bc9;
}

.announcement .btn_order_car {
  font: 16px/22px Myriad Pro Regular, Regular;
  width: 111px;
  height: 53px;
  margin-right: 2px;
  margin-left: 125px;
  margin-top: 438px;
  background-color: #135ec5;
  border-radius: 32px;
  padding: 1px 45px 1px 57px;
}

.announcement .btn_order_car .p_6 {
  color: #fff;
}

.announcement .img_pagination {
  margin-top: 0px;
  margin-left: 768px;
}

.announcement .btn_hover:hover {
  opacity: 0.51;
}